.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.example-radio-button {
  margin: 5px;
}

.edit-role{
  height: 40vh;
  width: 30vw;
}

.edit-role-content{
  margin-top: 10vh;
  margin-left: 4vw;
}
