<mbsc-eventcalendar [data]="this.apiService.teamEvents" [options]="calendarOptions" [(selectedDate)]="calendarSelectedDate">
</mbsc-eventcalendar>
<mbsc-popup [options]="popupOptions" [anchor]="popupAnchor" [buttons]="popupButtons" [headerText]="popupHeaderText" #popup>
    <div class="mbsc-form-group">
        <mbsc-input label="Title" [(ngModel)]="popupEventTitle"></mbsc-input>
        <mbsc-textarea label="Description" [(ngModel)]="popupEventDescription"></mbsc-textarea>
        <mbsc-datepicker [(ngModel)]="popupEventDates" [options]="datePickerOptions" [controls]="popupEventAllDay ? datePickerControls : datetimePickerControls" [responsive]="popupEventAllDay ? datePickerResponsive : datetimePickerResponsive" [startInput]="startInput"></mbsc-datepicker>
        <mbsc-input #startInput label="Date"></mbsc-input>
        <mbsc-time label="Time" [(ngModel)]="popupEventTime"></mbsc-time>
        <div *ngIf="isEdit" class="mbsc-button-group">
            <mbsc-button class="mbsc-button-block" color="danger" variant="outline" (click)="onDeleteClick()">Delete event
            </mbsc-button>
        </div>
    </div>
</mbsc-popup>
