<div class="create-team-component">
  <mat-radio-group aria-label="Select team type" (change)="onChangeType($event)">
    <mat-radio-button value="Professional">Proffesional</mat-radio-button>
    <mat-radio-button value="Amateur">Amateur</mat-radio-button>
  </mat-radio-group>
  <br><br>
  <mat-form-field appearance="fill">
    <mat-label>Team name</mat-label>
    <input matInput [(ngModel)]="team.teamName" (change)="validateData()">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" >
    <mat-label>Sport discipline</mat-label>
    <mat-select (selectionChange)="onChangeDiscipline($event)">
      <mat-option value={{item.name}} *ngFor="let item of this.apiService.sportsDisciplines">{{ item.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Organization name</mat-label>
    <input matInput [(ngModel)]="team.organizationName">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="team.location">
  </mat-form-field>
  <br>
  <button mat-stroked-button color="black" [disabled]="createTeamDisabled" (click)="createTeam()">Create team</button>
</div>



