:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mat-mdc-form-field {
  --mat-mdc-form-field-floating-label-scale: 0.75;
  display: inline-flex;
  flex-direction: column;
  width: 24rem;
  text-align: left;
  overflow-x: hidden;
}

