<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
<app-header></app-header>
<div class="main-page-background">
<!-- <mat-spinner [diameter]="50" *ngIf="spinnerService.visibility | async">
</mat-spinner> -->
  <div class="container-fluid">
    <div class="row justify-content-around">
      <div class="col-lg-2 team-col-1">
        <div class="icon-background-team-details" [ngStyle]="{'background-color': this.teamService.getTeamDetailsIconBackgroundColor()}">
          <div *ngIf="this.apiService.teamDetails.discipline.name === 'Football'">
            <img src="../../assets/ball.png" class="icon-team-details">
          </div>
          <div *ngIf="this.apiService.teamDetails.discipline.name === 'Basketball'" >
            <img src="../../assets/Basketball.png" class="icon-team-details">
          </div>
          <div *ngIf="this.apiService.teamDetails.discipline.name === 'Handball'">
            <img src="../../assets/handball.png" class="icon-team-details">
          </div>
          <div *ngIf="this.apiService.teamDetails.discipline.name === 'Volleyball'" >
            <img src="../../assets/Volleyball.png" class="icon-team-details">
          </div>
          <div *ngIf="this.apiService.teamDetails.discipline.name === 'Jogging'">
            <img src="../../assets/jogging.png" class="icon-team-details">
          </div>
        </div>
        <br/>
        <div class="team-deatails-name-div">
          <h1 class="names-team-details">
            {{ this.apiService.teamDetails.name }}
          </h1>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="actions" (menuOpened)="menuAction()" (menuClosed)="menuAction()" *ngIf="teamService.showAdminButton">
            <mat-icon>settings</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editTeam()">
              <span>Edit</span>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-menu-item (click)="deleteTeam()">
              <span>Delete team</span>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
        <br/>
        <h3 class="names-team-details">Joined: {{this.apiService.teamDetails.joinedDate?.toLocaleString() | date: 'dd/MM/yyyy'}}</h3>
        <mat-divider></mat-divider>
        <br/>
        <h1 class="names-team-details">Members:</h1>
        <div *ngFor="let member of this.apiService.teamDetails.members; let i = index" class="team-deatails-name-div">
          {{this.apiService.teamDetails.members[i].firstName}}
          {{this.apiService.teamDetails.members[i].lastName}}
          <button mat-icon-button [matMenuTriggerFor]="menu" class="actions" (menuOpened)="menuAction()" (menuClosed)="menuAction()" *ngIf="teamService.showAdminButton">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editRoles(i)">
              <span>Change users role</span>
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-menu-item (click)="removeUserFromTeam(i)">
              <span>Remove user</span>
              <mat-icon>delete</mat-icon>
            </button>
          </mat-menu>
          <br/><br/>
        </div>

        <mat-divider></mat-divider>
        <br/>
      </div>
      <div class="col-md-6 team-col-2">
        <mat-tab-group>
          <mat-tab label="Schedule">
            <br/>
            <br/>
            <div class="schedule-module">
               <app-schedule></app-schedule>
            </div>

          </mat-tab>
          <mat-tab label="Chat">
            <br/>
            <br/>
            <app-chat></app-chat>
          </mat-tab>
        </mat-tab-group>

      </div>
      <!-- <div class="col-sm-4 team-col-3">

      </div> -->
    </div>
  </div>
</div>




