.icon-background-team-details{
  margin-top: 2vh;
  margin-left: 1vw;
  width: 240px;
}

.icon-team-details{
  margin-top: 2vh;
  margin-left: 1.5vw;
  height: 180px;
}

.names-team-details{
  margin: 0;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  width: 48px;
  height: 48px;
  padding: 12px;
  margin-left: auto;
}

.schedule-module{
  max-height: 70vh;
}

.team-deatails-name-div{
  display: flex;
  align-items: center;
  width: 100%;
}
